# Ignore everything
# *

# But descend into directories
# !*/

# Recursively allow files under subtree
# !/test/**
# !//**
# !/readme.md
# !/TODO.md
# !/.gitignore

# but exclude vagrant caches
/*/.vagrant/**
Shrek-wallpaper.jpg
/*/.$*