# Ignore everything
*

# But descend into directories
!*/

# Recursively allow files under subtree
!/Win10Dev/**
!/kali/**
!/VagrantBaseBox/**
!/windfir/**
!/ansible/**
!/readme.md
!/TODO.md
!/.gitignore

# but exclude vagrant caches
/Win10Dev/.vagrant/**
/kali/.vagrant/**
/VagrantBaseBox/.vagrant/**
/*/.vagrant/**

# and exclude special licensed software
# get your own copies from respective developer sites
# these are free for non commercial / testing use - 
/ansible/roles/windows_forensics/files/Arsenal*
/ansible/roles/windows_forensics/files/AccessData*
/ansible/roles/windows_forensics/files/KAPE*
/VagrantBaseBox/ansible/roles/windows_forensics/files/Arsenal*
/VagrantBaseBox/ansible/roles/windows_forensics/files/AccessData*
/VagrantBaseBox/ansible/roles/windows_forensics/files/KAPE*